<footer class="footer mt-5 py-3 bg-light">
  <div class="container text-center">
    <p class="mb-0">&copy; <%= new Date().getFullYear() %> GitHub Star Booster. All rights reserved.</p>
    <p class="mb-0 text-muted">Created by <a href="https://github.com/Salmandaneshfar" target="_blank">Salman Daneshfar</a></p>
  </div>
</footer> 